// Buttons

::-moz-focus-inner {
	outline: 0;
	border: 0;
}

[class*="btn-"] {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid tomato;
	color: #fff;
	min-height: 36px;
	border-radius: 6px;
	padding: 0 15px;
	font-family: inherit;
	cursor: pointer;
	transition: box-shadow .13s;
	text-decoration: none;
	font-size: 14px;
}

[class*="btn-"]:focus {
	outline: 0;
}

// mixin


.btn-primary {
	@include bg-border(#0070f3);
}

.btn-primary:hover {
	@include bg-border(#1064c6);
}

.btn-primary:focus {
	@include shadow(0 0 0 3px #0070f361);
}

.btn-success {
	@include bg-border(#18af42);
}

.btn-success:hover {
	@include bg-border(#0f9b36);
}

.btn-success:focus {
	@include shadow(0 0 0 3px #18af4261);
}

.btn-info {
	@include bg-border(#06a9ed);
}

.btn-info:hover {
	@include bg-border(#0a8abf);
}

.btn-info:focus {
	@include shadow(0 0 0 3px #06a9ed61);
}

.btn-warning {
	@include bg-border(#ef9100);
}

.btn-warning:hover {
	@include bg-border(#ca7b00);
}

.btn-warning:focus {
	@include shadow(0 0 0 3px #ef910061);
}

.btn-danger {
	@include bg-border(#eb3c32);
}

.btn-danger:hover {
	@include bg-border(#c13229);
}
.btn-danger:focus {
	@include shadow(0 0 0 3px #eb3c3261);
}





