<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Sebuah framework yang di dedikasikan untuk Indonesia">
	<meta property="og:image" content="assets/ico/bendera-indonesia.ico">
	<title>Button: Flashcss</title>
	<link rel="stylesheet" href="../dist/css/flash.css">
	<link rel="shortcut icon" href="assets/ico/bendera-indonesia.ico">

	<style>
		body {
			padding: 15px;
			text-align: center;
		}
	</style>
</head>
<body>
	<button type="button" class="btn-primary">Primary</button>
	<button type="button" class="btn-success">Success</button>
	<button type="button" class="btn-info">Info</button>
	<button type="button" class="btn-warning">Warning</button>
	<button type="button" class="btn-danger">Danger</button>
</body>
</html>
